target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Build generated
META-INF/
OSGI-INF/

# Keystores & certs
*.p12
*.jks
*.pem
*.key
*.crt

# JWKS / generated keys
jwks.json

# Logs
*.log

# Temp
*.tmp

# Node
node_modules/
mockpass-relay/



